﻿body {
    background-color: rgb(150, 150, 150);
    display: flex;
}
div#Container {
    background-color: #b4b4b4;
    border-radius: 10px;
    margin-left: 200px;
}

div#Description {
    background-color: #b4b4b4;
    border-radius: 10px;
    width: 300px;
}

div#PinDescription {
    background-color: #b4b4b4;
    border-radius: 10px;
    margin-top:20px;
}

footer {
    margin-bottom: 20px;
    margin-top: 15px;
}


h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    text-align: center;
    margin:10px;
}

h5 {
    width: 270px;
    margin: 10px;
    text-align:justify;
}

div[id*=row] {
    display: -webkit-box;
    display: flex;
    margin-left: 25px;
}

.pinCodes {
    display: -webkit-box;
    display: flex;
    margin-left: 15px;
}

.button {
    width: 110px;
    height: 23px;
    background-color: rgb(201, 201, 201);
    border: none;
    border-radius: 5px;
    margin-left:12px;
}

.resultGrid {
    max-height: 24px;
    width: 18%;
    margin-left: 24px;
    margin-top: 2px;
}

.resultGrid div {
    margin: 2px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(177, 27, 27);
    float: left;
}


div[id*=pin] {
    height: 24px;
    width: 24px;
    border-radius: 12px;
    margin: 5px 9px 5px 5px;
    background-color: rgb(201, 201, 201);
}

div#pinCode1 {
    background-color: yellow;
}

div#pinCode2 {
    background-color: green;
}

div#pinCode3 {
    background-color: blue;
}

div#pinCode4 {
    background-color: red;
}

div#pinCode5 {
    background-color: white;
}

div#pinCode6 {
    background-color: orchid;
}

div.correctColor {
    background-color: rgb(220, 220, 220);
}

div.correctPosition {
    background-color: black;
}
